@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: var(--primary-color);
  font-family: "Cascadia Code", sans-serif;
  margin-bottom: 15px;
}

.username {
  padding: 2px 10px;
  padding-left: 15px;
  border-radius: 45px 0px 0px 45px;
}
.room {
  padding: 2px 10px;
  border-radius: 0px;
}
.terminal_message {
  /* line-height: 15px; */
}
.terminal_input input {
  outline: none;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: medium;
  font-family: inherit;
}

.arrow-div {
  --height: 25px;
  width: max-content;
  height: var(--height);
  position: relative;
  display: grid;
  place-items: center;
}

.arrow-div::after,
.arrow-div::before {
  --arrow-len: 20px;
  position: absolute;
  content: "";
}

.arr-left-front-username-incoming::after {
  border-top: calc(var(--height) / 2) solid transparent;
  border-bottom: calc(var(--height) / 2) solid transparent;
  border-left: calc(var(--arrow-len)) solid var(--pink-color);
  left: 100%;
  z-index: 999999;
}

.arr-left-front-username-outgoing::after {
  border-top: calc(var(--height) / 2) solid transparent;
  border-bottom: calc(var(--height) / 2) solid transparent;
  border-left: calc(var(--arrow-len)) solid var(--orange-color);
  left: 100%;
  z-index: 999999;
}
.arr-left-front-room::after {
  border-top: calc(var(--height) / 2) solid transparent;
  border-bottom: calc(var(--height) / 2) solid transparent;
  border-left: calc(var(--arrow-len)) solid var(--purple-color);
  left: 100%;
  z-index: 999999;
}

.arr-left-back::before {
  border-top: calc(var(--height) / 2) solid transparent;
  border-bottom: calc(var(--height) / 2) solid transparent;
  border-left: calc(var(--arrow-len)) solid var(--primary-color);
  left: 0;
  z-index: 99;
}

.arr-left-back {
  padding-left: 30px;
}